<!DOCTYPE html>
{% extends "adminapp/index.html" %}
    {% block body_block %}
        
        <!--================About Area =================-->
        <section class="about_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Enjoy the best Education Service</h2>
        			<p></p>
        		</div>
        		<div class="about_details">
        			<p>Luminar Technolab is an IT Finishing School located Cochin, focused on providing advanced level software training to Students and by helping them to get placed. We are a team of IT professionals who have experience in IT sector for more than 15 plus years. Our fresher’s career foster programs are Big Data Training, Java Training, Spring Training, Python Training, MongoDb Training, Blockchain Training, Bitcoin Training, Artificial Intelligence Training, Hadoop Training, Big Data Training in Cochin, Selenium Training, Data Science Training, apache spark training, Machine Learning Training, Angular js Training, Data Analytics Training, Nodejs Training, SQL Training, Software Development Training. Our Vision is to provide 100% placements to students those who enrol with us for our specialized courses.</p>
        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->
   {% endblock %}