<!DOCTYPE html>
{% extends "adminapp/index.html" %}
    {% block body_block %}
        <br><br><br><br>
        <!--================Python Django =================-->
        <section class="about_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>PYTHON-DJANGO</h2>
        			<p></p>
        		</div>
        		<div class="about_details">
        			<p>Complete knowledge on Python ,Learn how to use lists, tuples, loops, decision statement, etc. in python ,Build packages in Python ,Working with Exception handling, Inheritance ,Work independently in Project with scripting and Automation</p>
        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->

 <!--================about bigdata=================-->
        <section class="about_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>BIGDATA ANALYTICS</h2>
        			<p></p>
        		</div>
        		<div class="about_details">
        			<p>Introduction to Big Data & Big Data Challenges ,Limitations & Solutions of Big Data Architecture ,Hadoop & its Features ,Hadoop Ecosystem ,Hadoop 2.x Core Components ,Hadoop Storage: HDFS (Hadoop Distributed File System) ,Hadoop Processing: MapReduce Framework ,Different Hadoop Distributions</p>
        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->
<br>
 <!--================about datascience python =================-->
        <section class="about_area p_120">
        	<div class="container">
                <div class="main_title">
        			<h2>DATASCIENCE-PYTHON</h2>
                    <p></p></div>
        		<div class="about_details">
        			<p>Hands-on experience setting up an integrated analysis environment for doing data science with Python. ,An understanding of how to use the Python standard library to write programs, access the various data science tools, and document and automate analytic processes. ,Orientation to some of the most powerful and popular Python libraries for data science including Pandas (data preparation, analysis, and modeling; time series analysis), scikit-learn (machine learning), Matplotlib and Seaborn (data visualization). ,Working knowledge of the Python tools ideally suited for data science tasks, including: ,Accessing data (e.g., text files, databases) ,Cleansing and normalizing data ,Exploring data (e.g., simple statistics, correlation matrices, visualization) ,Modeling data (e.g., machine learning) .</p>
        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->
<br>
 <!--================SOFTWARE TESTING =================-->
        <section class="about_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>SOFTWARE TESTING</h2>
        			<p></p>
        		</div>
        		<div class="about_details">
                    <p>    Basic Testing Vocabulary ,Quality Assurance versus Quality Control ,The Cost of Quality ,Software Quality Factors ,How Quality is Defined ,Why Do We Test Software? ,What is a Defect? ,The Multiple Roles of the Software Tester(People Relationships) ,Scope of Testing ,When Should Testing Occur? ,Testing Constraints ,Life Cycle Testing ,Independent Testing ,What is a  QA Process? ,Levels of Testing</p>
        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->

   {% endblock %}