<!DOCTYPE html>
{% extends "adminapp/index.html" %}
    {% block body_block %}

<!--{% load staticfiles %}-->
<!--<html lang="en" >-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Login</title>-->
<!--  <link rel="stylesheet" href="{% static 'css/login.css' %}">-->

<!--</head>-->
<!--<body>-->
<!-- partial:index.partial.html -->
<br><br><br><br><br>
<center>
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post">
      {% csrf_token %}


      <label  for="0"><input type="radio" name="role" value="Student" required id="0">
 Student</label>
      <label  for="1"><input type="radio" name="role" value="Trainer" required id="1">
 Trainer</label>
      <label  for="2"><input type="radio" name="role" value="HR" required id="2">
 HR</label>


<br/>
{{ form.as_p }}

       <button type="submit">Login</button>

<!--      <p class="message">Not registered? <a href="#">Create an account</a></p>-->
    </form>
  </div>
</div></center>
<!-- partial -->
<!--  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>-->
{% endblock %}
